<!DOCTYPE html>
<html>
<head>
    <title>Subpage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <h1>Hunt Companion Tool</h1>
    {% if title %}
        <h2>Rule Title- {{ title }}</h2>
        <h3>Splunk Query</h3>
        <pre><code>{{ spl_rule }}</code></pre>
        <h3>Microsoft Sentinel Query</h3>
        <pre><code>{{ kql_rule }}</code></pre>
    {% endif %}
    <p><a href="/">Go back to Home Page</a></p>
</body>
</html>
