<!DOCTYPE html>
<html>
<head>
    <title>Subpage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <h1>YML Results for {{tech_id}}</h1>
    <!-- Display details of the specific threat actor -->
    <table>
        <thead>
            <tr>
                <th>S. No.</th>
                <th>Rule File</th>
            </tr>
        </thead>
        <tbody>
            {% for name in matching_files %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('rules_viewer', filename=name) }}">{{ name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p><a href="/">Go back to Home Page</a></p>
</body>
</html>
