<!DOCTYPE html>
<html>
<head>
    <title>Simple Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
        <h1>Hunt Companion Tool</h1>
        <h2>Hunt Companion</h2>
        
    <p><a href="/threat_actors">Search TA by filters</a></p>
    <p><a href="/collections">Go to Subpage 2</a></p>
    <!-- <p><a href="/subpage3">Go to Subpage 3</a></p> -->
</body>
</html>
